# SPDX-License-Identifier: Apache-2.0

menuconfig EBUS
    bool "eBUS support"
    select SERIAL
    select UART_USE_RUNTIME_CONFIGURE
    select UART_INTERRUPT_DRIVEN
if EBUS

config EBUS_UART_BUFFER_SIZE
        int "eBUS UART buffer size"
        default 32
        range 16 64
        help
          eBUS buffer size.

module = EBUS
module-str = Modbus Support
module-help = Sets log level for Modbus support
source "subsys/logging/Kconfig.template.log_config"

endif
